.contact {
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $shady_bg;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.phno,
.address {
  font-size: 1.6rem;
  color: $text_color;
  width: 35rem;
}

.location {
  width: 35rem;
  height: 30rem;
  background-color: red;
}
